.movie_container {
  h2 {
    font-size: 50px;
    padding: 1rem 2rem;
  }
}
.movies {
  padding: 10px;
  display: flex;
  overflow: auto;
}
.movies_card {
  z-index: -1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: contain;
  min-width: 20vw;
  flex-grow: 2;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  &:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .img {
    border-radius: 40px;
    height: 20rem;
    padding: 2rem;
  }
  h4 {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
}
/* Small screens (phones) */
@media only screen and (max-width: 600px) {
  .movies_card {
    min-width: 90vw;
  }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .movies_card {
    min-width: 50vw;
  }
}
