.mainSection{
    font-family: 'Montserrat', sans-serif;

}
.not_found{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    Button{
        margin: 20px;
    }
}
.category_accord{
  margin: 5rem 10rem;
  h1{
    font-size: 30px;
    text-decoration: none;
  }
}
/* Small screens (phones) */
@media only screen and (max-width: 600px) {
    .mainSection{
        padding: 14vh 0;
  }
  .category_accord{
    margin: 1rem;
  }
  
  /* Medium screens (tablets) */
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .mainSection{
    padding: 14vh 0;
}
  .movies_card {
    min-width: 50vw;
  }
}