.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    img{
        object-fit: contain;
        padding: 10px;
    border-radius: 20px;
  }
  .text_overview{
    position: absolute;
    z-index: 20;
    padding: 52px;
    margin-top: 20%;
    margin-left: 60px;
    backdrop-filter: blur(20px);
    line-clamp: 3;
    width: 50%;
    top: 0;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .text_buttons{
    Button{
        margin: 20px;
        padding: 20px;
        margin-left: 0;
        :nth-child(1){
            margin-left: 10px;
        }
    }
  }
  h1{
    &:nth-child(1){
        font-size: 40px;
        font-weight: bold;
    }
    &:nth-child(2){
        padding: 10px;
        font-size: 15px;
    }
    &:nth-child(3){
        font-size: 20px;
    }
  }
}
/* Small screens (phones) */
@media only screen and (max-width: 600px) {
    .text_overview{
        display: none;
    }
  }
  
  /* Medium screens (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    
  }
